<div >

    <!-- For demo purpose -->
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center"> <br> <br> <br>
        <h1 class="display-4">Créer une nouvelle demande d'autorisation</h1>
      </div>
    </div>
    <!-- End -->
  
  
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <li class="nav-item">
              <a data-toggle="pill" class="nav-link rounded-pill" routerLink="/conge">
                <i class="fa fa-credit-card"></i>
                                  Congés
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill"   class="nav-link active rounded-pill" routerLink="/autorisation">
                <i class="fa fa-credit-card"></i>
                                  Autorisation
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill" routerLink="/profile">
                <i class="fa fa-user"></i>
                                   Profile
                               </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link  rounded-pill" routerLink="/mesconges" >
                <i class="fa fa-list"></i> 

                                   Mes Congés
                               </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill" routerLink="/mesautorisations" >
                <i class="fa fa-list"></i> 

                                   Mes Autorisations
                               </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill" routerLink="/chef" >
                <i class="fa fa-user"></i>
                                  Gestion des demandes 
                               </a>
            </li>
          
          
          </ul>
          <!-- End -->
  
  
          <!-- Credit card form content -->
          <div class="tab-content">
  
            <!-- credit card info-->
            <div id="nav-tab-card" class="tab-pane fade show active">

              <form  [formGroup]="fg" >
                <div class="form-group">
                  <label for="username">Heure de sortie</label>
                  <input type="time" formControlName="heureSortie"   required class="form-control">
                  <div *ngIf="fg.controls['heureSortie'].invalid && (fg.controls['heureSortie'].dirty || fg.controls['heureSortie'].touched)">
                    <div *ngIf="fg.controls['heureSortie'].errors.required">Ce champ est obligatoire</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Heure de retour</label>
                  <div class="input-group">
                    <input type="time" formControlName="heureRetour" class="form-control" required   >
                    <div *ngIf="fg.controls['heureRetour'].invalid && (fg.controls['heureRetour'].dirty || fg.controls['heureRetour'].touched)">
                      <div *ngIf="fg.controls['heureRetour'].errors.required">Ce champ est obligatoire</div>
                      <div *ngIf="fg.errors?.heureRetourInvalide">L'heure de retour doit être supérieure à l'heure de sortie</div>
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                        <label >Motif de l'autorisation</label>
                        <div class="input-group">
                          <input type="text" formControlName="Motif" class="form-control" required>
                          
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group mb-4">
                      <label data-toggle="tooltip" title="Three-digits code on the back of your card">Durée
                                              </label>
                      <input type="text" formControlName="duree" required class="form-control" pattern="([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]">
                    </div>
                  </div>
                </div>

                
                <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" (click)="onSubmit(fg)" (click)="DemandeAutorisation()"  > Envoyer votre Demande  </button>
              </form>
            </div>
            <!-- End -->
  
           
  
            
  
        </div>