<div >

    <!-- For demo purpose -->
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">  <br> <br> <br>
        <h1 class="display-4">Gérer les demandes de congés des employés </h1>
      </div>
    </div>
    <!-- End -->
  
  
    <div class="row">
      <div >
        <div class="bg-white rounded-lg shadow-sm p-5">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <li class="nav-item">
              <a data-toggle="pill" class="nav-link rounded-pill" routerLink="/conge">
                                 
                                  Congés
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" class="nav-link rounded-pill"   routerLink="/autorisation">
                <i class="fa fa-credit-card"></i>
                                  Autorisation
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill" routerLink="/profile" >
                <i class="fa fa-user"></i>
                                   Profile
                               </a>
            </li>

            <li class="nav-item">
                <a data-toggle="pill" href="#nav-tab-bank" class="nav-link  rounded-pill" routerLink="/mesconges" >
                    <i class="fa fa-list"></i> 

                                     Mes Congés
                                 </a>
              </li>
              <li class="nav-item">
                <a data-toggle="pill" href="#nav-tab-bank" class="nav-link  rounded-pill" routerLink="/mesautorisations" >
                    <i class="fa fa-list"></i> 

                                     Mes Autorisations
                                 </a>
              </li>
              <li class="nav-item">
                <a data-toggle="pill" href="#nav-tab-bank" class="nav-link active rounded-pill" routerLink="/chef" >
                  <i class="fa fa-user"></i>
                                    Gestion des demandes 
                                 </a>
              </li>
          </ul>
          <!-- End -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Matricule </th>
                <th scope="col">Nom </th>
                <th scope="col">Prénom</th>
                <th scope="col">Département</th>
                <th scope="col">Type Congé</th>
                <th scope="col">Date Demande</th>
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Durée</th>
                <th scope="col">Solde Congé</th>
                <th scope="col">Cause</th>
                <th scope="col">Statut</th>

              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row" ></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="d-flex">
                      <button type="submit" class="btn btn-success mr-2">Accepter</button>
                      <button type="submit" class="btn btn-danger">Annuler</button>
                    </div>
                  </td>
                  
                  

              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <hr>
                 

            </tbody>
          </table>
          
        

