<main>
  <div >
    <section >
    
      
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="" style="width: 200px;" class="img-fluid">
              <h1>LOGICIEL DE GESTION DE CONGES ET DES ABSENCES DES EMPLOYES</h1>

            
              <p class="lead text-white"></p>
              <div class="btn-wrapper mt-5">
                <a routerLink="/register" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">SIGN UP</span>
                </a>
                <a routerLink="/login" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  
                  <span class="btn-inner--text">
                    <span class="text-warning"></span>SIGN IN</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      
     
    </section>
  </div>
  
</main>
